body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

@font-face {
    font-family: 'hoshiko';
    src: url('../assets/fonts/hoshiko_satsuki/Hoshiko\ Satsuki.ttf');
}

.hoshiko2 {
    font-family: hoshiko;
    font-size: 2rem;
}

.hoshiko1 {
    font-family: hoshiko;
    font-size: 1rem;
}